@charset "utf-8";

/* ========== すべて共通 ========== */
html, body {
	font-size: 16px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #505050;
	background: #f0f4f9;
	/*background: #f0fadc;*/
}
body, div, p, h1, h2, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
strong {
	color: #cc1f1f;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: 1f1fcc;
	text-decoration: none;
}
a:hover {
	color: 1f1fff;
}
a:active {
	color: 1f1f99;
}
.img-responsive {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	height: auto;
}
/* 追加 chaのaboutページで使ってたものを移植 */
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}
/* 追加 chaのaboutページで使ってたものを移植 */

table {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}
td {
	padding: 10px;	
}

/* 共通の見出し */
main h1 {
	margin-bottom: 1rem;
	border-bottom: 1px dashed cc1f1f;
	font-weight: normal;
	font-size: 1.6rem;
}
.container {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}
@media screen and (min-width: 768px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* ========== ヘッダー ========== */
header {
	background: #3341c8;
}
.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	margin: 0 auto;
	padding: 10px 0;
	width: 160px;
	height: 40px;
}
.menu-btn {
	padding: 10px 0;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	background: url(../images/hamburger.png) no-repeat center center;
	background-size: contain;
}
.menu-btn2 {
	padding: 10px 0;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	background: none;
	background-size: contain;
}

@media screen and (min-width: 768px) {
	.header-logo {
		padding: 20px 0;
		width: 250px;
		height: 60px;
	}
	.menu-btn {
		display: none;
	}
}

/* ========== ナビゲーション ========== */
nav {
	background: #393939;
}
.navbar {
	display: none;
	list-style-type: none;
}
.navbar a {
	display: block;
	padding: 0.6rem 0;
	color: #fff;
	text-decoration: none;
}
.navbar a:hover {
	background: #787878;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex !important;
	}
	.navbar li {
		flex: 1 1 auto;
		text-align: center;
	}
	.navbar a.nav-current {
		background: #cc1f1f;
	}
}

/* ========== 両エリア基本レイアウト ========== */
@media screen and (min-width: 767px) {
	/* ↓レイアウト全体領域 */
	.page-cover {
		display: table;
		margin: 0 auto 0 auto;
		width: 100%;
		max-width: 1000px;
	}
	/* ▼メインカラムの装飾 */
	.main {
		display: table-cell;
		width: 70%;
	}
	/* ▽サイドカラムの装飾 */
	.side {
		display: table-cell;
		width: 30%;
	}
}

/* ========== メインエリア基本レイアウト ========== */
main {
	padding-top: 0px;
	padding-bottom: 20px;
	/*
	background: #fff;
	*/
}

@media screen and (min-width: 767px) {
	main {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* ========== サイドエリア基本レイアウト ========== */
side {
	padding-top: 0px;
	padding-bottom: 20px;
	background: #fff;
}

@media screen and (min-width: 400px) and (max-width: 766px) {
	/* ▼サイドカラムの装飾 */
	.side {
		text-align: center;   /* 内部のインラインブロックを中央に寄せる */
	}
	/* ▼サイドカラムの内側だけで各ボックスを2段組にする */
	.side-box {
		display: inline-block;  /* インラインブロック化 */
		width: 48%;             /* 横幅を48%に(2段組にするため) */
		vertical-align: top;    /* 横並びのブロック間では上端を揃える */
		margin: 0;              /* 外側の余白をなくす */
		text-align: left;       /* ボックス内部は左寄せ */
	}
}

@media screen and (min-width: 767px) {
	side {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* ========== フッター ========== */
footer {
	background: #3341c8;
	font-size: 0.9rem;
	color: #fff;
}
.footer-container {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-nav {
	list-style-type: none;
	text-align: center;
}
.footer-nav li {
	display: inline;
	padding: 0 1rem 0 0;
}
.footer-nav a {
	color: #fff;
	text-decoration: none;
}
.footer-nav a:hover {
	opacity: 0.5;
}
.footer-copyright {
	text-align: center;
}

/* ========== index.html トップページ ========== */

/* キャッチコピー */
.home-maincopy {
	text-align: center;
	font-size: 1.4rem;
}
.home-maincopy strong {
	color: #c84040;
}

@media screen and (min-width: 767px) {
	.home-maincopy {
		font-size: 2.4rem;
	}
}

.home-color1 {
	color: #f8b173;
}
.home-color2 {
	color: #74b9d9;
}
.home-color3 {
	color: #8bca85;
}
.home-color4 {
	color: #f8817e;
}

/* 見出し */
.home-h2 {
	margin: 10px 0 10px 0;
	border: 2px solid #ff1f1f;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	background: #fff;
	color: #fff;
	font-size: 1.3rem;
}

/* お知らせ */
.home-news {
	padding: 20px 30px;
	border: 2px solid #ff1f1f;
	border-radius: 10px;
	background: #fff;
}
.home-news2 {
	padding: 10px 0;
}

/* 外部リンク */
.side-r {
	margin: 10px 0 10px 0;
	border: 2px solid #1f1fff;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	background: #3a6df1;
	color: #fff;
	font-size: 1.3rem;
	text-align: center;
}
.side-l {
	margin: 10px 0 10px 0;
	border: 2px solid #1f1fff;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	background: #1da1f2;
	color: #fff;
	font-size: 1.3rem;
	text-align: center;
}

/* 画面幅が広い（タブレット・パソコン向け） */
@media screen and (min-width: 768px) {
	.home-course {
		flex-flow: row;
	}
}

.home-course a {
	color: #393939;
	text-decoration: none;
}

.home-course figure:hover {
	opacity: 0.5;
}

.home-course figcaption {
	padding: 15px 0;
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}

/* 画面スライダー */
.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}
.swiper-button-prev {
    background: url(../images/prev.png) no-repeat center center / contain;
}
.swiper-button-prev::after {
    content: "";
}

.swiper-button-next {
    background: url(../images/next.png) no-repeat center center / contain;
}
.swiper-button-next::after {
    content: "";
}

/* ========== 上に戻るボタン ========== */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}
.pagetop-img {
	padding-top: 0.7rem;
	max-width: 50%;
	height: auto;
}
.pagetop:hover {
	color: #fff !important;
	background-color: #757575;
	text-decoration: none;
}